{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "n8n-mcp": {
      "type": "local",
      "command": ["npx", "n8n-mcp"],
      "environment": {
        "MCP_MODE": "stdio",
        "LOG_LEVEL": "error",
        "DISABLE_CONSOLE_OUTPUT": "true",
        "N8N_API_URL": "http://localhost:5678",
        "N8N_API_KEY": "<N8N_API_KEY>"
      }
    }
  }
}
